<div class="col-12 px-3">
    <div class="container-fluid mt-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold">
                    <a class="text-decoration-none">
                        Usuarios Entel
                    </a>
                </li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Listar</li>
            </ol>
        </nav>
    </div>
    <div class="card border-dark">
        <div class="card-header">
            <h4 class="card-title text-uppercase fw-bold text-black mt-3">Usuarios Entel</h4>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title text-uppercase fw-bold text-black mt-0 mb-0">Gestión de Usuarios Entel </h5>
                </div>
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-12 col-sm-2 mb-2 mb-sm-0">
                            <label for="btndescarga">Formato:</label>
                            <button id="btndescarga" type="button" class="btn btn-outline-success p-1"
                                style="width: 100%;" (click)="downloadExcel()">
                                <i class="bi bi-file-earmark-spreadsheet fs-4"></i>
                                Descargar
                            </button>
                        </div>
                        <div class="col-12 col-sm-2">
                            <label for="fileselect">Archivo de Carga:</label>
                            <input class="form-control form-control-sm" id="fileselect" type="file"
                                (change)="onFileChange($event)">
                            <div *ngIf="fileName">{{ fileName }}</div>
                        </div>
                        <div class="col-12 col-sm-2">
                            <label for="btncarga">Cargar:</label>
                            <button id="btncarga" type="button" class="btn btn-outline-dark p-1" style="width: 100%;"
                                (click)="guardarUsuarioEntel()">
                                <i class="bi bi-arrow-up-circle fs-4"></i> Cargar
                            </button>
                        </div>
                    </div>
  
                </div>
            </div>
            <div class="table-responsive-sm mt-4 mb-4">
                <div class="table-responsive-sm mt-4 mb-4">
                    <div class="d-flex justify-content-between mb-2">
                        <!-- <div class="contador-ventas">
                            <h5>Roles registrados del periodo de <span class="badge text-bg-custom"></span></h5>
                        </div> -->
                    </div>
                    <div class="d-flex justify-content-between mb-2">
                        <!-- Contador de ventas a la izquierda -->
                        <!-- <div class="contador-ventas">
                            <h5>Total de Registros:</h5>
                        </div> -->
                        <!-- Input de búsqueda a la derecha y botón a la izquierda -->
                        <div class="me-4 d-flex">
                            <!-- Botón de Excel más delgado -->
                            <!-- <button type="button" class="btn btn-success btn-sm me-2"
                                style="font-size: 0.75rem; padding: 0.05rem 0.3rem; --bs-btn-bg:#217c4a; --bs-btn-color: white; display: flex; align-items: center;">
                                <i class="bi bi-file-earmark-spreadsheet" style="margin-right: 0.25rem;"></i>
                                Excel
                            </button> -->


                            <!-- Input de búsqueda más delgado -->
                            <!-- <input type="text" class="form-control form-control-sm me-2" placeholder="Buscar"
                                aria-describedby="basic-addon1" 
                                style="font-size: 0.75rem; padding: 0.25rem 0.4rem; height: 2.3rem;"> -->
                        </div>
                    </div>
                    <table class="table caption-top table-hover table-striped table-bordered border-secondary text-center table-sm">
                        <thead style="--bs-table-bg-state:#1F316F; --bs-table-color-type: white;">
                            <tr>
                                <th scope="col">ID usuarioentel</th>
                                <th scope="col" >DNI</th>
                                <th scope="col">Usuario Red TDE</th>
                                <th scope="col">Usuario Portal</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Celular</th>
                                <th scope="col">Acciones</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuariosEntel">   
                                <td>{{ usuario.idusuarioentel }}</td>
                                <td>{{ usuario.docusuario }}</td>
                                <td >{{ usuario.usuarioredtde }}</td>
                                <td >{{ usuario.usuarioportal }}</td>
                                <td >{{ usuario.correocorp }}</td>
                                <td >{{ usuario.celular }}</td>
                                <td class="text-center" style="min-width: 60px;">
                                    <button type="button" class="btn btn-primary mx-1" title="Editar"
                                        (click)="openEdit(usuario)"
                                        style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .45rem; --bs-btn-font-size: 1.3rem; --bs-btn-bg:#55679C; --bs-btn-color: white;">
                                        <i class="bi bi-pencil-fill" style="margin: 0.5px; padding: 0.5px;"></i>
                                    </button>
                                    &nbsp;
                                    <button type="button" 
                                        class="btn btn-danger" title="Eliminar Venta"   (click)="eliminarUsuarioEntel(usuario)"
                                        style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .45rem; --bs-btn-font-size: 1.3rem;">
                                        <i class="bi bi-trash3-fill" style="margin: 0.5px; padding: 0.5px;"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <!-- <div class="mt-3">
                        <mat-paginator #paginator [length]="usuariosEntel.length" [pageSize]="pageSize"
                            (page)="cambiarpagina($event)">
                        </mat-paginator>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>