<div class="col-12 px-3">
    <div class="container-fluid mt-4">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item fw-bold">
                    <a class="text-decoration-none">
                        Revisión de Bundles
                    </a>
                </li>
                <li class="breadcrumb-item fw-bold active" aria-current="page">Validar</li>
            </ol>
        </nav>
    </div>
    <div class="card border-dark">
        <div class="card-header"> 
            <h4 class="card-title text-uppercase fw-bold text-black mt-3">Revisión de Bundles</h4>
        </div>
        <div class="card-body">
            
        </div>
    </div>
</div>
