<div class="col-12 px-3">
  <div class="container-fluid mt-4">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item fw-bold">
          <a class="text-decoration-none"> Inventario </a>
        </li>
        <li class="breadcrumb-item fw-bold active" aria-current="page">
          Listar
        </li>
      </ol>
    </nav>
  </div>
  <div class="card border-dark">
    <div class="card-header">
      <h4 class="card-title text-uppercase fw-bold text-black mt-3">
        Inventario Retail
      </h4>
    </div>
    <div class="card-body">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title text-uppercase fw-bold text-black mt-3">
            Filtros
          </h5>
        </div>
        <div class="card-body">
          <form [formGroup]="filtroForm">
            <div class="row pb-3">
              <div class="col-sm-3 mb-3 mb-sm-0 px-3" style="min-width: 280px">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Fecha de inicio</mat-label>
                  <input matInput [matDatepicker]="startDatePicker" formControlName="startDate"
                    (focus)="startDatePicker.open()" readonly />
                  <!-- <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle> -->
                  <mat-datepicker #startDatePicker></mat-datepicker>
                  <mat-error *ngIf="filtroForm.get('startDate')?.hasError('required')">La fecha de inicio es
                    obligatoria</mat-error>
                </mat-form-field>
              </div>
              <div class="col-sm-3 px-3" style="min-width: 280px">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Fecha de fin</mat-label>
                  <input matInput [matDatepicker]="endDatePicker" formControlName="endDate"
                    (focus)="endDatePicker.open()" readonly />
                  <!-- <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle> -->
                  <mat-datepicker #endDatePicker></mat-datepicker>
                  <mat-error *ngIf="filtroForm.get('endDate')?.hasError('required')">La fecha de fin es
                    obligatoria</mat-error>
                </mat-form-field>
                <div *ngIf="filtroForm.errors?.['dateRangeInvalid']" class="error text-danger lh-1 fst-italic pb-2">
                  *La fecha de fin no puede ser menor que la fecha de inicio
                </div>
              </div>
              <div class="col-sm-3 px-3" style="min-width: 220px"></div>
            </div>

            <div class="row">
              <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary me-md-2" style="background-color: #1f316f" type="submit"
                  (click)="buscar()">
                  <i class="bi bi-search"></i>
                  Buscar
                </button>
                <button style="--bs-btn-bg: #5b99c2; --bs-btn-color: white" class="btn btn-info me-md-2" type="button"
                  (click)="abrir()">
                  <i class="bi bi-bag-heart-fill"></i>
                  Registrar
                </button>
                <!-- <button style="--bs-btn-bg: #5b99c2; --bs-btn-color: white" class="btn btn-info me-md-2" type="button"
                  (click)="verFaltantes()">
                  <i class="bi bi-bag-heart-fill"></i>
                  Ver Faltantes
                </button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="table-responsive-sm mt-4 mb-4">
        <div class="table-responsive-sm mt-4 mb-4">
          <div class="d-flex justify-content-between mb-2">
            <div class="me-4 d-flex"></div>
          </div>
          <div class="row mb-3 mt-4">
            <div class="col-md-6">
              <input type="text" class="form-control" placeholder="Buscar en la tabla..." [(ngModel)]="filtroTexto"
                (input)="aplicarFiltro()" />
            </div>
          </div>

          <table
            class="table caption-top table-hover table-striped table-bordered border-secondary text-center table-sm">
            <thead style="--bs-table-bg-state:#1F316F; --bs-table-color-type: white;">
              <tr>

                <th (click)="ordenarPor('fecharegistro')" style="cursor: pointer">
                  Fecha Registro
                  <span *ngIf="columnaOrden === 'fecharegistro'">
                    {{ direccionOrden === 'asc' ? '▲' : '▼' }}
                  </span>
                </th>
                <th (click)="ordenarPor('docpromotorasesor')" style="cursor: pointer">
                  Doc. Promotor
                  <span *ngIf="columnaOrden === 'docpromotorasesor'">
                    {{ direccionOrden === 'asc' ? '▲' : '▼' }}
                  </span>
                </th>
                <th (click)="ordenarPor('nombrecompleto')" style="cursor: pointer">
                  Nombre Promotor
                  <span *ngIf="columnaOrden === 'nombrecompleto'">

                    {{ direccionOrden === 'asc' ? '▲' : '▼' }}
                  </span>
                </th>
                <th (click)="ordenarPor('nombrepdv')" style="cursor: pointer">
                  Nombre pdv
                  <span *ngIf="columnaOrden === 'nombrepdv'">
                    {{ direccionOrden === 'asc' ? '▲' : '▼' }}
                  </span>
                </th>
                <th>Acciones</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let item of paginador()" >
                <td>{{ item.fecharegistro | date : "dd/MM/yyyy" }}</td>
                <td>{{ item.docpromotorasesor }}</td>
                <td>{{ item.nombrecompleto }}</td>
                <td>{{ item.nombrepdv }}</td>
                <td class="text-center">
                  <button type="button" (click)="conciliar(item.idinventario)" class="btn btn-info" title="visualizar Venta"
                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .45rem; --bs-btn-font-size: 1.3rem;--bs-btn-bg:#55679C; --bs-btn-color: white;">
                    <i class="bi bi-pencil-square" style="margin: 0.5px; padding: 0.5px;"></i>
                  </button>
                  &nbsp;
                  <button type="button" (click)="editarInventario(item)" class="btn btn-primary" title="visualizar Venta"
                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .45rem; --bs-btn-font-size: 1.3rem;--bs-btn-bg:#55679C; --bs-btn-color: white;">
                    <i class="bi bi-eye" style="margin: 0.5px; padding: 0.5px;"></i>
                  </button>
                  &nbsp;
                  <button type="button" (click)="eliminarInventario(item.idinventario)" class="btn btn-danger"
                    title="Eliminar Venta"
                    style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .45rem; --bs-btn-font-size: 1.3rem;">
                    <i class="bi bi-trash3-fill" style="margin: 0.5px; padding: 0.5px;"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <nav class="d-flex justify-content-end">
            <ul class="pagination pagination-sm">
              <li class="page-item" [class.disabled]="paginaActual === 1">
                <button class="page-link" (click)="cambiarPagina(paginaActual - 1)">
                  Anterior
                </button>
              </li>
              <li class="page-item" *ngFor="let pagina of totalPaginasArray" [class.active]="paginaActual === pagina">
                <button class="page-link" (click)="cambiarPagina(pagina)">
                  {{ pagina }}
                </button>
              </li>
              <li [class.disabled]="paginaActual === totalPaginas" class="page-item">
                <button class="page-link" (click)="cambiarPagina(paginaActual + 1)">
                  Siguiente
                </button>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>