<div class="vh-100"
    style="background-image: url('assets/img/fondo1-oscuro.webp');background-size:cover;background-position: center;">
    <div class="container-fluid contenedor">
        <div class="pt-4 ps-4">
            <div class="card shadow p-3 bg-body-tertiary rounded-5 border-0" style="max-width: 400px;">
                <div class="card-body text-center p-2">
                    <!-- <img src="assets/img/Rom/ROM_transparente.png" class="img-fluid" style="max-height: 50px;"> -->
                    <img [src]="getImagePath(idempresa)" class="img-fluid" style="max-height: 50px;">

                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

