<h5 class="card-title p-3">Ingresa tus credenciales</h5>
<form [formGroup]="loginForm" (ngSubmit)="getLogin()">
    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3"><i class="bi bi-map"></i></span>
            <select class="form-select" formControlName="country">
                <option value="">Seleccionar País</option>
                <option *ngFor="let country of listCountry" [value]="country.idpais">
                    {{country.nombrepais}}</option>
            </select>
        </div>
        <!-- <div class="form-text text-danger" id="basic-addon4" *ngIf="loginForm.get('country')?.hasError('required')">
            Country is required
        </div> -->
    </div>
    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3"><i class="bi bi-person"></i></span>
            <input type="text" class="form-control" formControlName="username" placeholder="Username" />
        </div>
        <!-- <div class="form-text text-danger" id="basic-addon4" *ngIf="loginForm.get('username')?.hasError('required')">
            Nombre usuario es requerido
        </div> -->
    </div>
    <div class="mb-3">
        <div class="input-group">
            <div class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                <i *ngIf="showPassword" class="bi bi-eye-slash"></i>
                <i *ngIf="!showPassword" class="bi bi-eye-fill"></i>
            </div>
            <input type="{{ showPassword ? 'text' : 'password' }}" type="password" class="form-control"
                formControlName="password" placeholder="Password" />
        </div>
        <!-- <div class="form-text text-danger" id="basic-addon4" *ngIf="loginForm.get('password')?.hasError('required')">
            Contraseña es requerido
        </div> -->
    </div>
    <button type="submit" class="btn btn-primary m-3" [disabled]="!loginForm.valid">
        Siguiente
        <i class="bi bi-arrow-right-circle"></i>
    </button>
    
</form>
<h6 class="card-text text-body-secondary">| CAMBIAR CONTRASEÑA |</h6>

